In [1]:
# Import necessary libraries

import pandas as pd
from sklearn.metrics import precision_recall_fscore_support as score, confusion_matrix, accuracy_score

In [9]:
# Check file structure
pd.read_csv('test.psv')

    # Calculate the f1 for Thursdays... this is not a trick question! We will search for the first 5 d.p. in your CV
0                                         dates|y|yhat
1                                       1999-11-01|0|0
2                                       1999-11-02|0|1
3                                       1999-11-03|1|1
4                                       1999-11-04|1|0
5                                       1999-11-05|0|1
6                                       1999-11-06|0|0
7                                       1999-11-07|0|0
8                                       1999-11-08|1|1
9                                       1999-11-09|1|0
10                                      1999-11-10|1|0
11                                      1999-11-11|0|1
12                                      1999-11-12|1|0
13                                      1999-11-13|1|0
14                                      1999-11-14|1|0
15                                      1999-11-15|0|0
16                                      1999-11-16|1|0
17                                      1999-11-17|1|0
18                                      1999-11-18|0|1
19                                      1999-11-19|0|0
20                                      1999-11-20|0|0
21                                      1999-11-21|0|1
22                                      1999-11-22|1|0
23                                      1999-11-23|1|0
24                                      1999-11-24|0|1
25                                      1999-11-25|0|1
26                                      1999-11-26|0|1
27                                      1999-11-27|1|0
28                                      1999-11-28|0|1
29                                      1999-11-29|0|0
..                                                 ...
171                                     2000-04-19|1|1
172                                     2000-04-20|1|1
173                                     2000-04-21|1|1
174                                     2000-04-22|1|0
175                                     2000-04-23|1|0
176                                     2000-04-24|0|0
177                                     2000-04-25|0|0
178                                     2000-04-26|0|1
179                                     2000-04-27|0|0
180                                     2000-04-28|0|0
181                                     2000-04-29|1|1
182                                     2000-04-30|1|0
183                                     2000-05-01|1|1
184                                     2000-05-02|0|0
185                                     2000-05-03|0|0
186                                     2000-05-04|0|1
187                                     2000-05-05|0|0
188                                     2000-05-06|0|0
189                                     2000-05-07|0|1
190                                     2000-05-08|1|1
191                                     2000-05-09|0|1
192                                     2000-05-10|1|0
193                                     2000-05-11|0|0
194                                     2000-05-12|0|1
195                                     2000-05-13|0|1
196                                     2000-05-14|1|1
197                                     2000-05-15|0|1
198                                     2000-05-16|1|1
199                                     2000-05-17|1|1
200                                     2000-05-18|1|0

[201 rows x 1 columns]

In [2]:
# read pipe file. first row is question itself.

df = pd.read_csv('test.psv', delimiter='|', header=1)

In [3]:
# Convert dates to datetime

df["dates"] = pd.to_datetime(df["dates"])

In [4]:
# Set datest as index 

df.set_index('dates', inplace=True)

In [5]:
# Find all rows of thursdays

df_thursday = df[df.index.dayofweek == 3]

In [10]:
y_pred = df_thursday['yhat']
y_true = df_thursday['y']

confusion_matrix(y_true, y_pred)

array([[ 7, 11],
       [ 7,  4]], dtype=int64)

In [11]:
accuracy_score(y_true, y_pred)

0.3793103448275862

The F1 score can be interpreted as a weighted average of the precision and recall, where an F1 score reaches its best value at 1 and worst score at 0. The relative contribution of precision and recall to the F1 score are equal. The formula for the F1 score is:

>> F1 = 2 * (precision * recall) / (precision + recall)

In [12]:
# The F-beta score can be interpreted as a weighted harmonic mean of
# the precision and recall, where an F-beta score reaches its best
# value at 1 and worst score at 0.

precision, recall, fscore, support = score(y_true, y_pred, average='weighted')

print('precision: {}'.format(precision))
print('recall: {}'.format(recall))
print('fscore: {}'.format(fscore))

precision: 0.4114942528735632
recall: 0.3793103448275862
fscore: 0.38826259946949604